
/* MAIN CSS SELECTORS */
* {
    font-size: 14px;
    text-align: center;
    font-family: 'BioRhyme', serif
}



header {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Bungee Shade', cursive;
    color: #55667C
}

p {
font-size: 14px
}

h1 {
    font-weight: bold;
    font-size: 20px
}

h2 {

}

a {
    
}


/* GRID STUFF */
.grid {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 300px 20px;
    grid-template-areas:
    'a b c '
    'a d c'
    'a e c';
    margin: 20px;
    grid-gap: 15px;
    padding: 30px;
  }

.header {
    grid-area: b
    
}

.left {
    grid-area: a;
    text-align: right;
    margin: 10px;
    padding: 10px;
}

.main {
    background-color: #55667C;
    grid-area: d;
    margin: 20px;
    padding: 20px;
    color: white
}

.footer {
    grid-area: e
}

.right {
    grid-area: c;
    text-align: left;
    margin: 10px;
    padding: 10px;
}


/* C O N T E N T */
/* REPEAT CONTENT */
.question {
    font-size: 30px;
    color: white
}

.answer {
    font-size: 30px;
    color: white
}

.explanation {
    font-size: 30px;
    color: white
}

.points {
    text-align: right
}

/* UNIQUE CONTENT */

.landing {
    font-size: 35px;
    grid-area: d
}

.intro {
    grid-area: d
}


/* BUTTONS */

button {
    font-weight: bold;
    color: black;
    font-size: 15px;
    background-color: lightgray;
}

.next-button, .begin-button {
    
}

.name-button {
   
}

.correct .incorrect {
    color: white
}